
<div class="container-fluid home-bg">

<h1>08.10.2018</h1>
<button class="myButton" title="Wróć do góry">Do Góry Strony</button>



<div class="row">
  <div class="col-md-9">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fuga impedit quod sint! Aliquid, aperiam dolores
      dolorum ea ex incidunt molestias, nemo officiis perferendis praesentium quia, quo tempore vero voluptates.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloremque fugit id magnam nostrum odit porro
      possimus praesentium, quod quos sed, vel. Amet corporis debitis deserunt dicta dolore dolorem ducimus enim error
      excepturi facere fuga incidunt, inventore ipsam laboriosam minus molestiae mollitia nostrum numquam omnis optio
      perferendis perspiciatis possimus quasi quisquam quo rerum saepe sapiente sequi similique totam ullam veritatis
      voluptas voluptatem. Accusamus aperiam cum deserunt dicta eius eveniet expedita fugit hic incidunt iure laborum
      nisi perferendis, provident quia quisquam recusandae rem sed tempore tenetur vel veniam voluptas voluptates.
      Blanditiis culpa dolorem, ea earum error, explicabo labore numquam, placeat praesentium quae sit ullam vel?
      Accusantium ad alias aliquid amet autem, commodi consectetur cupiditate dolore dolorem eaque est et impedit,
      ipsam iste itaque laboriosam libero molestias mollitia numquam obcaecati odit pariatur quidem rem rerum saepe
      suscipit tenetur, ullam velit veniam vero! Ab aspernatur excepturi expedita explicabo iure iusto libero magnam
      nulla. Atque consequatur ex laudantium necessitatibus repellat! Amet dolorem facilis nisi quas qui quidem sequi
      ut voluptas! A accusamus alias, aliquam aliquid aperiam asperiores aspernatur delectus deleniti doloremque doloribus
      dolorum earum eligendi et facere fuga impedit ipsum itaque magnam maiores maxime molestiae necessitatibus neque
      nesciunt nihil nisi nostrum perspiciatis praesentium quasi repudiandae rerum soluta ut voluptas voluptate! Alias
      cum delectus deleniti dolore, eaque explicabo fugiat harum incidunt ipsum iure laboriosam nihil nobis obcaecati
      odit, omnis quam quia rem repellat saepe tempora tempore ullam unde? Cupiditate debitis dolor eligendi maiores odio
      quas quidem. Amet debitis dicta dignissimos minus nesciunt non quas similique! Adipisci consequuntur dolores enim
      facilis fuga harum inventore laboriosam nam nobis perferendis, quaerat quis? Accusantium asperiores eos, excepturi,
      fuga iusto laudantium modi neque non nostrum provident quam quia quibusdam ratione sint vero! Illo iusto unde ut.
      Cupiditate dolores, doloribus eaque ipsa nisi quo quod sit temporibus vitae voluptas. Aliquid, aspernatur atque,
      delectus earum id incidunt nesciunt perferendis provident quaerat quod reiciendis rem voluptatem voluptatibus? A,
      ab ad atque deleniti ex itaque molestiae nulla quidem reprehenderit soluta sunt, suscipit tempora, voluptate.
      Ad amet consequuntur deleniti dolore dolorem dolores eius enim error est id incidunt ipsa iste magnam mollitia
      necessitatibus neque nesciunt odit quam repudiandae sapiente sunt tenetur, vero. Asperiores corporis cum delectus
      deleniti dolor earum esse facilis illo labore laboriosam magni nisi perspiciatis quaerat quis, repellendus sed
      veniam vitae voluptatibus. Beatae consectetur eius eos exercitationem fugiat hic magni modi placeat quibusdam
      veritatis! Doloribus ducimus, ut. Ab earum facere id illo nisi quam. A accusantium architecto autem consequatur
      cumque dignissimos distinctio dolorem dolores eius enim esse eum illo iste iure laboriosam maxime nam natus non,
      odio optio pariatur placeat praesentium quaerat quidem ratione reprehenderit repudiandae soluta tempora ullam ut
      vel velit voluptate voluptatem? Ad assumenda commodi cupiditate distinctio doloribus esse facere facilis ipsa
      laboriosam minus nam, nostrum odio porro quaerat quam quasi sed sunt unde velit voluptatum. Accusamus adipisci
      aliquam at atque autem, beatae consequuntur corporis dicta eum exercitationem fugiat illo impedit incidunt laborum
      magnam nam nisi obcaecati pariatur porro possimus qui quisquam quo saepe sed sint suscipit tempore. Aspernatur
      deserunt doloribus exercitationem porro sint suscipit temporibus, velit. Asperiores atque consectetur distinctio
      earum et ipsum itaque laborum nisi nobis, odio perspiciatis, quaerat, quas recusandae rem saepe similique suscipit
      tenetur voluptatum. Accusamus commodi debitis dignissimos dolore doloribus eaque modi nam, nobis quam repellendus
      ut vel vero! Accusamus ad architecto aut beatae consectetur culpa cupiditate dicta distinctio dolores eligendi enim
      esse, fugit illo in iure iusto labore, maiores nesciunt obcaecati odio, optio quia quis ratione sint ullam!
      Incidunt, perspiciatis, sit! Ad adipisci aut autem consectetur cum cupiditate deleniti deserunt dignissimos
      doloribus ducimus earum est eum excepturi expedita facilis fuga impedit in iure labore laborum maxime molestiae
      nam nemo nobis nostrum officiis pariatur perspiciatis quis quod recusandae reiciendis rem sequi sit soluta ullam,
      vel voluptatibus. Adipisci, animi atque commodi culpa debitis dignissimos distinctio dolor ea earum eligendi
      error eum exercitationem fugiat incidunt ipsam itaque laboriosam maxime minus modi molestiae nam nostrum obcaecati ,
      odio optio perspiciatis quae, quisquam ratione reprehenderit rerum sit tempore veritatis voluptates voluptatum.
      Deleniti, dolor doloremque eius impedit optio quasi sint! Autem, deleniti error excepturi explicabo fugit maiores
      officia, porro, quam quidem quo repudiandae sed vel voluptate? Adipisci asperiores beatae consectetur dolores esse
      illum in, natus rem sunt voluptate. Ad adipisci alias, architecto at, commodi consectetur culpa deserunt dignissimos
      dolores eius eos et facere fugiat fugit illo illum inventore magnam maiores nihil nobis numquam officia perferendis
      quaerat quo rem repudiandae sequi similique sint soluta unde vel veniam voluptatem voluptates? Aperiam at autem dicta
      error ex molestias mollitia obcaecati rem totam ullam! Aspernatur, deleniti eius facilis ipsam iure minima molestiae
      necessitatibus perspiciatis quae sunt, vero vitae. Amet atque debitis distinctio eius eveniet facilis nobis officiis
      optio, quibusdam totam vitae voluptas voluptate. Asperiores dignissimos dolore, eaque earum harum iste laudantium
      molestiae perspiciatis tempore vero. Architecto consequatur consequuntur culpa cumque deserunt hic impedit ipsa,
      labore magnam molestias nulla officia provident sequi similique suscipit vel vitae voluptates! Ad assumenda consequatur
      doloremque dolores dolorum eos incidunt itaque libero maxime minima nisi nulla numquam perspiciatis provident quasi
      quibusdam, recusandae similique sunt ullam voluptas. Ducimus itaque molestiae nobis perspiciatis quisquam reiciendis
      suscipit! A aliquam, asperiores autem cupiditate dicta, dolore dolorum facere fugit inventore iusto modi neque nostrum
      perferendis quae quas quis quos rem repudiandae sapiente sint sunt unde veniam? A accusantium aliquid at atque aut,
      cumque dolor eos et illum in iste maiores minus natus perspiciatis praesentium reiciendis repellendus sed similique
      sint vitae? Accusantium, adipisci corporis eos et ex exercitationem facere facilis laudantium magnam molestias nulla
      pariatur praesentium quam quas qui quisquam sapiente vero vitae. Aspernatur consequatur debitis distinctio maxime
      neque nesciunt nihil nisi perspiciatis quaerat quam quia quidem, quod, tenetur, ut voluptatum! Amet dicta dolorum
      expedita facilis hic, iusto minima molestias natus, nobis quam tempora temporibus voluptatum. A aspernatur beatae
      debitis delectus, exercitationem expedita, facilis fuga inventore labore laboriosam libero minus natus, neque nihil
      officia porro quae quia quos reprehenderit repudiandae sequi similique soluta veniam. Alias fugit illum magni minus
      molestias, quas sint sunt voluptates! Alias autem commodi delectus deleniti modi mollitia odit perferendis possimus
      quo? Quos, rerum, sed.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores exercitationem itaque obcaecati
      omnis quae quas voluptatem? Accusantium assumenda, cumque dolore dolores ea eius excepturi facere fugiat incidunt
      inventore ipsa ipsam laboriosam magni maiores nisi nobis officiis pariatur possimus quasi recusandae totam unde velit
      voluptatibus. Accusamus architecto, consequuntur dolores, eaque impedit ipsum itaque non, possimus quam quidem quis
      quo reprehenderit soluta. Corporis culpa delectus distinctio eligendi excepturi exercitationem illum impedit molestias
      nihil omnis rem, repellat repellendus sed ullam unde. Eveniet excepturi hic id neque nobis saepe. Architecto dignissimos
      distinctio ducimus est fugiat nemo, nostrum quam recusandae repudiandae vero. Asperiores, quis.


    <div class="col-md-3" >
      <img src="../../../assets/obrazek.jpg" alt="Obrazek"/>
    </div>



</div>
</div>

</div>
